{% extends "base.html" %}

{% block title %}
    {{ super() }}
    Objects List
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1>Objects:</h1>
            {% for object_id in objects.keys() %}
                <ul>
                    <li>
                        <a href="{{ url_for('objects.get_object_item', pk=object_id) }}">{{ objects[object_id] }}</a>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}

